@import './variables.less';

body {
  margin: 0;
  padding: 60px 0 0 0 !important;
  font-family: @font-rule;

  .main-container {
    max-width: 700px;
    margin: auto;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}
